/***********************************
    Expandable container styles.
***********************************/


/* Content */
.expandable-container-content:not(.expanded),
.expandable-container-content:not(.expanded) > * {
    /* Don't display overflown content */
    overflow: hidden;
}


/* Expand/collapse toggle */
.expandable-container-toggle {
    cursor: pointer;

    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    color: var(--clickable-area-text-color);
    background-color: var(--clickable-area-background-color);
}

.expandable-container-toggle:hover {
    color: var(--clickable-area-text-color-hover);
    background-color: var(--clickable-area-background-color-hover);
}
