/***********************************************
                Feed styles
***********************************************/


/** Containers **/
.feed-cards-container > *:not(:last-child) {
    margin-bottom: 2rem;
}


/** Feed card container **/
.feed-card {
    padding-top: 1rem;
    padding-bottom: 1rem;

    /* Set border (box shadow does not work with "overflow: hidden" without using ) */
    /* box-shadow: var(--card-box-shadow); */
    border: solid 1px var(--border-color-light);
}

.expandable-container.with-toggle .feed-card {
    /* Remove bottom border, when expand toggle is displayed */
    border-bottom: 0px;
}

@media(min-width: 768px) {
    .feed-card {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media(max-width: 767px) {
    .feed-card {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}


/** Feed card header **/
.feed-card-header-container > a {
    display: flex;
    color: var(--header-color);
}

.ui.header.feed-card-header {
    margin-top: 0;
    margin-bottom: 0.5rem;

    /* Enable word break for long words */
    word-break: break-word;
}

i.icon.feed-card-header-icon {
    margin-right: 0.25rem;
    
    /* Icon size and vertical positioning fix */
    font-size: 24px;
    margin-top: 0.4rem;
}


/** Feed card description **/
.feed-card-description {
    /* Enable word break for long words */
    word-break: break-word;
}

.feed-card-description:not(:last-child) {
    margin-bottom: 1rem;
}


/** Object tag list **/
.object-feed-card-tag-list-container {
    border-top: solid 1px var(--border-color-light);
    padding-top: var(--inline-top-bottom-padding);
}


/** Feed pagination **/
.feed-container > .pagination-container {
    margin-top: 2rem;
}
