/******************************
    Horizontal menu styles. 
******************************/

:root {
    --dropdown-and-input-min-width: 180px;
}

/** Menu **/
.ui.menu.horizontal-menu {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;

    box-shadow: none;
}

.ui.menu.horizontal-menu:not(.smallscreen) {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.ui.menu.horizontal-menu:not(.smallscreen) > *:not(:last-child) {
    /* margins between fullscreen horizontal menu children */
    margin-right: 0.5rem;
}

.ui.menu.horizontal-menu.smallscreen > *:first-child {
    margin-top: 0.5rem;
}

.ui.menu.horizontal-menu.smallscreen > * {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}


/** Group **/
div.horizontal-menu-group {
    display: flex;
}

.ui.menu.horizontal-menu.smallscreen div.horizontal-menu-group:not(.smallscreen-disabled) {
    /* Expand to take full line in menu on small screens */
    width: 100%
}


/** Button **/
.ui.button.horizontal-menu-button {
    /* Separation & border styling */
    margin-right: 0px;
    border-radius: 0 !important;
    border-top: 0 !important;

    border-top: solid 1px var(--border-color-input) !important;
    border-bottom: solid 1px var(--border-color-input) !important;
    border-right: solid 1px var(--border-color-input) !important;
}

.ui.basic.button.horizontal-menu-button:hover {
    background-color: var(--background-hover-color) !important;
}

.ui.menu.horizontal-menu .ui.button.horizontal-menu-button:not(.borderless):first-child {
    /* Additional left border for first child button */
    border-left: solid 1px var(--border-color-input) !important;
}

.ui.button.horizontal-menu-button.borderless {
    /* Borderless button */
    border-width: 0 !important;
    border-image-width: 0 !important;
    box-shadow: none !important;
}


/** Filter **/
.ui.menu.horizontal-menu.smallscreen div.horizontal-menu-group:not(.smallscreen-disabled) div.ui.input {
    /* Allow input to take available width when not in fullscreen */
    flex: 1 1 auto;
}

div.horizontal-menu-group div.ui.input {
    /* Reduce filter height & center filter vertically */
    height: 2.25rem;
    margin-top: auto;
    margin-bottom: auto;
    
    /* Set min-width (required for fullscreen mode) */
    min-width: var(--dropdown-and-input-min-width);
}

div.horizontal-menu .ui.input > input {
    /* Disable border radius */
    border-radius: 0;
}


/** Dropdown **/
div.horizontal-menu .ui.dropdown {
    /* Disable border radius */
    border-radius: 0;

    /* Reduce dropdown height & center filter vertically */
    padding-top: 0rem;
    padding-bottom: 0rem;
    
    min-height: 2.25rem;
    margin-top: auto;
    margin-bottom: auto;
    /* min-height: 0; */

    /* Set min-width (required for fullscreen mode) */
    min-width: var(--dropdown-and-input-min-width);
}

div.horizontal-menu .ui.dropdown > input {
    /* Adjust height of input inside dropdown */
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

div.horizontal-menu .ui.dropdown > div.divider {
    /* Adjust position of placeholder text inside dropdown 
       (works for tags filter only, object type 
       dropdown adjusts its placeholder position on its own)  */
    top: 30%;
}

div.horizontal-menu .ui.dropdown > i.dropdown.icon {
    /* Adjust position & padding of icon inside dropdown */
    top: 50%;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

div.horizontal-menu .ui.dropdown.horizontal-menu-updatable-dropdown > .text {
    /* Adjust tooltip text position in tags filter
       (settings are taken from object type filter tooltip, except for last margin value) */
    position: static;
    padding: 0;
    max-width: 100%;
    margin: .45238095em 0 .45238095em 0;
    line-height: 1.21428571em;
}

div.horizontal-menu div.ui.dropdown > .visible.menu.transition {   
    /* 
        Fix dropdown list right border being rendered 1px off
        (workaround for the specific widths of horizontal menu dropdowns;
        offset randomly appears if dropdown width is changed)
     */
    min-width: 100% !important;
    width: calc(100% + 1.5px) !important;
}
