/*******************************
    Navigation menu styles. 
*******************************/


/** Navigation bar, common **/
.navigation-bar {
    margin-top: 0;
    border-radius: 0;
    border-top-width: 0;
}


/** Fullscreen navigation bar and its children width **/
.navigation-bar:not(.is-stacked) {
    display: flex;
}

.navigation-bar:not(.is-stacked) > .navbar-search-container {
    /* Allow width change for search container */
    flex: 1 1 300px;
    max-width: 300px;
}

.navigation-bar:not(.is-stacked) > .navbar-search-container::before {
    /* Remove pseudo-element before search & its left border */
    width: 0;
}

.navigation-bar:not(.is-stacked) > *:not(.navbar-search-container) {
    /* Disable width change for other navbar items */
    flex: 0 0 auto;
}


/** Common background & text colors and borders **/
.navigation-bar,
.ui.menu .ui.dropdown .menu.navbar-submenu-dropdown > a.item {  /* Increased selectivity required */
    /* Background color */
    background-color: var(--navbar-background-color) !important;
}

.ui.menu .ui.dropdown .menu.navbar-submenu-dropdown > a.item:not(:last-child) {     /* Increased selectivity required */
    /* Remove double borders */
    border-bottom-width: 0;
}

/* Active menu items */
.navigation-bar > .item.active:not(.dropdown),
/* Menu item hovering (except for expand/collapse button, submenu in stacked mode and right side) */
div.ui.menu.navigation-bar > .item:hover:not(.navigation-bar-expand-container):not(.navbar-submenu-container.is-expanded):not(.right),
/* Stacked submenu items */
.navbar-submenu > .item:hover, .navbar-submenu > .item.active,
/* Dropdown submenu */
.ui.menu .ui.dropdown .menu.navbar-submenu-dropdown > a.item:hover,     /* Increased selectivity required */
.ui.menu .ui.dropdown .menu.navbar-submenu-dropdown > a.item.active {
    /* Background color for active & hovered elements */
    background-color: var(--navbar-background-active-color) !important;
}

.navigation-bar .item,
.ui.menu .ui.dropdown .menu.navbar-submenu-dropdown > a.item {      /* Increased selectivity required */
    /* Item text color */
    color: var(--navbar-text-color) !important;
    text-decoration-color: var(--navbar-text-color) !important;
}


/** Top-level items **/
div.ui.menu.navigation-bar > .item {    /* Increased selectivity required */
    /* Content positioning in items (required for stacked items) */
    display: flex;
    justify-content: center;
    border-radius: 0;
}

div.ui.menu.navigation-bar > .item:before {     /* Increased selectivity required */
    /* Set separation color for navbar & submenu dropdown items  */
    background: var(--navbar-separation-color);
}

.navigation-bar > .item,
.ui.menu .ui.dropdown .menu.navbar-submenu-dropdown > .item {   /* Increased selectivity required */
    /* Item font-weight */
    font-weight: bold !important;
}


/** Submenu dropdown (fullscreen) **/
.ui.dropdown .menu.navbar-submenu-dropdown {    /* Increased selectivity required */
    /* Remove borders between dropdown and navbar */
    border: 0px;
}

.ui.dropdown .menu.navbar-submenu-dropdown > a {    /* Increased selectivity required */
    /* Submenu dropdown item separation */
    border: solid 1px var(--navbar-separation-color);
}

.ui.dropdown .menu.navbar-submenu-dropdown > a .ui.label {  /* Increased selectivity required */
    /* Space between text and label */
    margin-left: 0.5rem;
    margin-right: 0;
}


/** Submenu menu (stacked) **/
.navbar-submenu-container {
    flex-flow: column;
}

.navbar-submenu-header {
    cursor: pointer;
    
    /* Positioning */
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar-submenu-container > .menu.navbar-submenu > a.item {     /* Increased selectivity required */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-menu-label-offset {
    width: 20px;
    margin-right: 1em;
}

/** Menu expand toggle **/
div.ui.menu.navigation-bar > div.item.navigation-bar-expand-container { /* Increased selectivity required */
    justify-content: end;
}

i.navigation-bar-expand-toggle:hover {
    cursor: pointer;
}


/** Search input & button **/
.navbar-search-container {
    display: flex;
    /* column-gap: 0.5rem; */

    /* Enable shrinking below default value */
    min-width: 0;
}

.navbar-search-container:not(.is-stacked) > .ui.input {
    /* Enable shrinking below default value */
    flex: 1 1 auto;
    min-width: 0 !important;
}

.navbar-search-container > .ui.input > input {
    /* Input styling */
    border-radius: 0px;
    border-right-width: 0;
}

.navbar-search-container > .navbar-search-button {
    border: solid 0px var(--border-color-input) !important;

    /* Set button height & width equal to input with "mini" prop */
    width: 60px;
    height: 40px;

    /* Align icon inside button */
    padding: 0 !important;
}


/** Right menu **/
.ui.menu:not(.vertical) .right.menu.navigation-right-menu {
    /* Remove separation between search input and right menu */
    margin-left: 0 !important;
}

.navigation-right-menu:not(.is-stacked) > .nagivation-bar-button-container {
    /* Left border */
    border-left: solid 1px var(--navbar-separation-color);
}

div.ui.menu.navigation-bar div.nagivation-bar-button-container {    /* Increased selectivity required */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-left-width: 0;
}

.navigation-right-menu.is-stacked {
    border-top: solid 1px var(--navbar-separation-color);
}

div.ui.menu.navigation-bar .item > button.navigation-bar-button {    /* Increased selectivity required */
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 105px;

    border-radius: 0;

    font-size: var(--button-font-size);

    /* Don't wrap text & hide overflown text */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

div.ui.menu.navigation-bar .item > button.navigation-bar-button.is-disabled,    /* Disabled button */
div.ui.menu.navigation-bar .item > button.navigation-bar-button.is-disabled:hover {
    /* Overrides button color set in the component code; also set for :hover pseudoclass to disable color change on hover */
    background-color: var(--navbar-disabled-button-color);
    color: var(--navbar-disabled-text-color);
    cursor: default;
}


/** Right menu user page link **/
a.navigation-bar-username {
    margin-left: 0.5em;
    margin-right: 0.5em;

    /* Username text color & font */
    color: var(--navbar-text-color-username) !important;
    text-decoration-color: var(--navbar-text-color-username) !important;    
    text-decoration: underline;
    font-weight: bold;

    /* Max width and long text display */
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}