/*******************************
    Pagination styles. 
*******************************/

.pagination-container {
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
    align-items: center;
}

.pagination-container > .pagination {
    flex-wrap: wrap;
}
