/*******************************
    Rendered markdown styles    
*******************************/

/** General **/
.rendered-markdown * {
    margin-top: 0;
    word-break: break-word;
}

.rendered-markdown > *:not(:last-child) {
    margin-bottom: 0.5rem;
}


/** Headers **/
.rendered-markdown > h3:not(:first-child),
.rendered-markdown > h4:not(:first-child),
.rendered-markdown > h5:not(:first-child),
.rendered-markdown > h6:not(:first-child) {
    /*Increase margin before headers in rendered markdown (won't stack with margin bottom due to margin collapse) */
    margin-top: 1rem;
}


/** Lists **/
.rendered-markdown li > p {
    /* Remove margin-bottom for list items' texts wrapped into paragraph to match margin of <li> tags without paragraphs */
    margin-bottom: 0;
}


/** Images **/
.rendered-markdown img {
    /* Image max size & proportions preserving */
    max-width: min(640px, 100%);
    max-height: 1280px;
    object-fit: scale-down;

    /* Cursor styling */
    cursor: pointer;
}

.rendered-markdown p:has(img) {
    /* Center images horizontally */
    display: flex;
    justify-content: center;
}


/** Blockquotes **/
.rendered-markdown blockquote {
    padding: 0.5rem;
    /* font-style: italic; */
    /* font-weight: bold; */
    /* border-left: solid 2px var(--rendered-markdown-blockquote-border-color); */
    box-shadow: var(--rendered-markdown-blockquote-border-color) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    color: var(--rendered-markdown-blockquote-color);
    background-color: var(--rendered-markdown-blockquote-background-color);
}

.rendered-markdown blockquote blockquote {
    box-shadow: none;
    border-left: solid 2px var(--rendered-markdown-blockquote-color);
}

.rendered-markdown blockquote a {
    color: var(--rendered-markdown-blockquote-link-color);
}

.rendered-markdown blockquote a:hover,
.rendered-markdown blockquote a:visited {
    color: var(--rendered-markdown-blockquote-link-hovered-color);
}


/** Details **/
.rendered-markdown details {
    padding: 0.5rem; 
    border: 1px solid var(--rendered-markdown-blockquote-border-color);
    /* background-color: var(--rendered-markdown-blockquote-background-color); */
}

.rendered-markdown details > summary {
    background-color: var(--rendered-markdown-blockquote-background-color);
    font-weight: bold;
    cursor: pointer;
}

.rendered-markdown details[open] > summary {
    /* Draw bottom border over the whole width of parent, ignoring its padding */
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    border-bottom: 1px solid var(--rendered-markdown-blockquote-border-color);
}

.rendered-markdown details a {
    color: var(--rendered-markdown-blockquote-link-color);
}

.rendered-markdown details a:hover,
.rendered-markdown details a:visited {
    color: var(--rendered-markdown-blockquote-link-hovered-color);
}


/** Horizontal lines **/
.rendered-markdown hr {
    border-top: solid 1px var(--border-color-light);
    border-bottom: none;
}


/** Tables **/
.rendered-markdown div:has(table) {
    /* Center tables inside <div> tags
    (if they're provided with custom styling which sets their width to less than 100% of container */
    display: flex;
    justify-content: center;
}

.rendered-markdown table tr:hover,
.rendered-markdown .ui.table.striped tbody tr:nth-child(2n):hover {     /* Increased selectivity required */
    /* Hovered row color */
    background-color: var(--rendered-markdown-table-row-hover-color);
}
.rendered-markdown table td:hover {
    /* Hovered body cell color */
    background-color: var(--rendered-markdown-table-cell-hover-color);
}


/** Code highlighting **/
.rendered-markdown pre code.hljs {
    display: block;
}
  
.rendered-markdown code.hljs {
    display: inline;
    padding: 0.1em;
}
