/********************************
  /objects/edit/:id page styles.
********************************/

/** `General` tab **/
.objects-edit-general-tab > *:not(:last-child) {
    margin-bottom: 1rem;
}


/** Object type menu **/
div.object-type-menu-header {
    font-weight: bold;
    font-size: var(--input-header-font-size);
    margin-bottom: 0.25em;
}

div.ui.selection.dropdown.object-type-dropdown-switch {
    width: 100%;
}

/* Remove scrollbar in dropdown option list caused by icon displaying */
div.ui.selection.dropdown.object-type-dropdown-switch > .visible.menu.transition {
    overflow-y: hidden; /* remove scrollbar */
    max-height: max-content; /* override height (default style limit number of displayed elements to 3) */
}

div.ui.selection.dropdown.object-type-dropdown-switch > .visible.menu.transition > .item > i {
    margin-top: -0.5em; /* fix icon positioning */
}
