/*******************************
       Search page styles. 
*******************************/


/** Search input **/
.search-input-container {
    display: flex;
    margin-bottom: 2rem;    
}

.search-input-container > .ui.input {
    /* Take available width */
    flex: 1 1 auto;
}

.search-input-container > .ui.input > input {
    border: solid 1px var(--border-color-input);
    border-right-width: 0;
    border-radius: 0px;
}

.search-input-container > .ui.input > input:active,
.search-input-container > .ui.input > input:focus {
    border: solid 1px var(--border-color-input-active);
}
