/***************************************************** 
    Edit tag/object element and form styles.
******************************************************/

/** Timestamps **/
div.created-modified-timestamps-container {
    display: flex;
    flex-wrap: wrap;
}

div.created-modified-timestamps-item {
    flex: 1 0 50%;
    text-align: left;
    white-space: nowrap;

    display: flex;
    flex-wrap: nowrap;
    gap: 0.25rem;
}

div.created-modified-item-header {
    font-weight: bold;
    font-size: 13px;
}

div.created-modified-item-value {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    margin-left: 0.25em;
}


/** Textarea **/
textarea.edit-page-textarea:not([rows]):not([cols]) {   /* sets default textarea size to the value it takes when it's empty and hides the scrollbar; */
    height: auto;                                       /* two "not" pseudoclasses are required to override Semantic UI styles for textarea          */
    overflow-y: hidden;
    max-height: none;
    resize: none;
}
