/***************************************************** 
    Edit tag/object name & description form styles.
******************************************************/

textarea.edit-page-textarea:not([rows]):not([cols]) {   /* sets default textarea size to the value it takes when it's empty and hides the scrollbar; */
    height: auto;                                       /* two "not" pseudoclasses are required to override Semantic UI styles for textarea          */
    overflow-y: hidden;
}

form.ui.form > div.field:last-child:not([override]) {
    margin-bottom: 1em;
}