/***********************************************
                Feed styles
***********************************************/


/** Feed card container **/
@media(min-width: 768px) {
    .feed-card {
        box-shadow: 0 0 4px rgba(0,0,0,0.5);
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media(max-width: 767px) {
    .feed-card {
        box-shadow: 0 0 4px rgba(0,0,0,0.5);
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.feed-card:not(:last-child) {
    margin-bottom: 2rem;
}


/** Feed card timestamp **/
.feed-card-timestamp {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    /* margin-bottom: 0.5em; */
}

/** Feed card header **/
.feed-card-header-container > a {
    display: flex;
}

.ui.header.feed-card-header {
    margin-top: 0;
    margin-bottom: 0.5rem;

    /* Enable word break for long words */
    word-break: break-word;
}

i.icon.feed-card-header-icon {
    margin-right: 0.25rem;
    
    /* Icon size and vertical positioning fix */
    font-size: 16px;
    margin-top: 0.25rem;
}


/** Feed card description **/
.feed-card-description {
    /* Enable word break for long words */
    word-break: break-word;
}

.feed-card-description:not(:last-child) {
    margin-bottom: 1rem;
}


/** Object tag list **/
.object-feed-card-tag-list-container {
    border-top: solid 1px rgb(192, 192, 192);
}

.object-feed-card-tag-list-container:last-child .inline-item-list-block-content {
    padding-bottom: 0;
}


/** Feed pagination **/
.feed-pagination-container {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
