/*******************************
    Field pagination styles. 
*******************************/

.field-pagination-container {
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
    align-items: center;
}

.field-pagination-container > .field-pagination {
    flex-wrap: wrap;
}