/*************************
    Field menu styles. 
*************************/

/* Menu */
.ui.menu.field-menu {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.ui.menu.field-menu:not(.smallscreen) {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.ui.menu.field-menu:not(.smallscreen) > *:not(:last-child) {
    /* margins between fullscreen field menu children */
    margin-right: 0.5rem;
}

.ui.menu.field-menu.smallscreen > *:first-child {
    margin-top: 0.5rem;
}

.ui.menu.field-menu.smallscreen > * {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}


/* Group */
div.field-menu-group {
    display: flex;
}

div.field-menu-group.smallscreen {
    /* Expand to take full line in menu on small screens */
    width: 100%
}


/* Button */
.ui.button.field-menu-button {
    /* Separation & border styling */
    margin-right: 0px;
    border-radius: 0 !important;
    border-top: 0 !important;

    border-top: solid 1px rgba(192, 192, 192, 0.5) !important;
    border-bottom: solid 1px rgba(192, 192, 192, 0.5) !important;
    border-right: solid 1px rgba(192, 192, 192, 0.5) !important;
}

.ui.menu.field-menu .ui.button.field-menu-button:not(.borderless):first-child {
    /* Additional left border for first child button */
    border-left: solid 1px rgba(192, 192, 192, 0.5) !important;
}

.ui.button.field-menu-button.borderless {
    /* Borderless button */
    border-width: 0 !important;
    border-image-width: 0 !important;
}


/* Separator */
.field-menu-separator {
    margin: 0px;
    padding: 0px;
    border-left: solid 0.6em rgba(255, 255, 255, 1);
}

.field-menu-separator.hidden {
    display: none;
}


/* Filter */
div.field-menu-group.smallscreen div.ui.input {
    /* Allow input to take available width when not in fullscreen */
    flex: 1 1 auto;
}

div.field-menu-group div.ui.input {
    /* Reduce filter height & center filter vertically */
    height: 2.25rem;
    margin-top: auto;
    margin-bottom: auto;
}

div.field-menu .ui.input > input {
    /* Disable border radius */
    border-radius: 0;
}


/* Dropdown */
div.field-menu .ui.dropdown {
    /* Disable border radius */
    border-radius: 0;

    /* Reduce dropdown height & center filter vertically */
    padding-top: 0rem;
    padding-bottom: 0rem;
    
    height: 2.25rem;
    margin-top: auto;
    margin-bottom: auto;
    min-height: 0;
}


div.field-menu .ui.dropdown > input {
    /* Adjust height of input inside dropdown */
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

div.field-menu .ui.dropdown > div.divider {
    /* Adjust position of placeholder text inside dropdown 
       (works for tags filter only, object type 
       dropdown adjusts its placeholder position on its own)  */
    top: 30%;
}

div.field-menu .ui.dropdown > i.dropdown.icon {
    /* Adjust position & padding of icon inside dropdown */
    top: 50%;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}