/****** Field item ******/
.field-item {
    margin: 4px;
}

.field-item:hover {
    background-color: var(--hover-color);
}

.field-item-checkbox, .field-item-link {
    margin: 2px;
}

.field-item-link {
    color: black;
    text-decoration: none;
}