/******************************
    Field item list styles.
******************************/

/** Field item list & wrapper **/
.field-item-list-wrapper {
    border: solid 1px var(--border-color-input);
    margin-bottom: 1em;
}

.ui.header.field-item-list-header {
    margin: 0.5em;
    font-size: var(--input-header-font-size);
    /* text-decoration: underline; */
}

.field-item-list {
    line-height: 1.5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: center;
}

.field-item-list.collapsed {
    max-height: 2em;
    overflow: hidden;
}

.field-item-list.no-header {
    padding-top: 0.25em;
}


/** Expand/collapse **/
.field-item-list-expand-div {
    text-align: center;
    margin-top: 0.25em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;

    color: var(--expand-toggle-text-color);
    /* border-top: solid 1px var(--expand-toggle-text-color);
    border-bottom: solid 1px var(--expand-toggle-text-color); */
    background-color: var(--expand-toggle-background-color);
}

.field-item-list-expand-div:hover {
    color: var(--expand-toggle-text-color-hover);
    /* border-top: solid 1px var(--expand-toggle-text-color-hover);
    border-bottom: solid 1px var(--expand-toggle-text-color-hover); */
    background-color: var(--expand-toggle-background-color-hover);
}

.field-item-list-expand-div:hover {
    cursor: pointer;
}


/** Field item **/
.field-item {
    display: flex;
    align-items: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.4em;
}

.field-item-checkbox {
    margin-right: 0.4em;
    /* transform: scale(1.5); */
}

.field-item-link {
    color: var(--text-color);
    text-decoration: none;
    word-break: break-word;
}
