/************************************
    Global styles and variables. 
************************************/

/* :root {
    --selected-color: rgba(160, 160, 160, 0.5);
    --hover-color: rgba(30, 105, 55, 0.7);
    --border-color: var(--hover-color);
    
    --pressed-button-color: rgba(80, 80, 80);
    --field-menu-button-overlay-color: rgba(0, 0, 0, 0.3);

    --error-text-color: red;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
} */

body {
    overflow-x: auto;   /* enable horizontal scrollbar when required */
}

div.ui.celled.grid {
    margin: 0;  /* fix height to remove browser scrollbar */
}

div.ui.celled.grid .row .two.wide.column {
    /* reduce side menu padding */
    padding-left: 0.5em;
    padding-right: 0.5em;
}