/*********************************************************** 
    Inline item lists, items, input and container styles.
***********************************************************/

/* Containers */
div.inline-item-list-block {
    margin-bottom: 1em;
}

div.inline-item-list-block-header, div.inline-item-list-wrapper-header {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0.25em;
}

div.inline-item-list-wrapper-header {
    padding-left: 0.4em;
    padding-right: 0.4em;
    padding-top: 0.3em;
}

div.inline-item-list-block {
    border: solid 1px rgba(34, 36, 38, 0.15);
    border-radius: 4px;
}

div.inline-item-list-wrapper {
    display: flex;
    flex-wrap: wrap; 
    vertical-align: middle;
    /* border: solid 1px rgba(34, 36, 38, 0.15);
    border-radius: 4px; */
    padding-left: 0.4em;
    padding-right: 0.4em;

    line-height: 1.8em;
}


/* Item input (input + datalist version) */
/* span.inline-input-span {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

input.inline-input {
    border-radius: 4px;
    border: solid 1px rgba(34, 36, 38, 0.15);
    height: 100%;
}

i.input-toggle {
    margin-left: 0.25em;
    margin-right: 0.25em;
}

i.input-toggle:hover {
    cursor: pointer;
} */


/* Inline input */
span.inline-input-span {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

span.inline-input-span i.input-toggle:hover {
    cursor: pointer;
}

span.inline-input-span .ui.search.selection.dropdown.inline-input {    /* SUIR container tag */
    min-height: 0;
    padding: 0;
    height: 100%;

    max-width: 42em;
}

span.inline-input-span .ui.search.selection.dropdown.inline-input>input.search,
span.inline-input-span .ui.search.selection.dropdown.inline-input>.divider.text { /* SUIR inner input & search query display tags */
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.4em;
    padding-right: 0.4em;
    line-height: 1.8em;
}

span.inline-input-span .ui.search.selection.dropdown.inline-input > .divider.text {  /* Center query text vertically */
    display: flex;
    align-items: center;
}

span.inline-input-span div.visible.menu.transition>div.item:not([non-existing]) {
    display: flex;
    align-items: center;
    line-height: 1.8em;
    padding-top: 0 !important;
    padding-bottom: 0!important;
    padding-left: 0.4em !important;
    padding-right: 0.4em !important;
}


/* Inline item */
span.inline-item {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-right: 0.75em;

    display: flex;      /* Sets inline item text height to 100% of the container's */
    align-items: center;

    border: 1px solid;
    border-radius: 4px;
    
    white-space: nowrap;    /* keep the element on one line */

    cursor: pointer;
    user-select: none;
}

span.inline-item-text {
    padding-left: 0.4em;
    padding-right: 0.4em;
}

i.inline-item-link-icon {
    padding-right: 0.4em;
}


/* Specific item styles */
span.inline-item {
    border-color: gray;
    color: rgba(64, 64, 64);
    font-weight: normal;
}

span.inline-item.deleted {
    color: white;
    font-weight: bold;
    text-decoration: line-through;

    background-color: rgb(200, 45, 45);
    border-color: rgba(200, 45, 45, 1);
}

span.inline-item.existing {
    color: white;
    font-weight: bold;
    /* background-color: rgba(33, 186, 69, 0.5); */
    background-color: rgba(0, 108, 108, 0.75);
    border-color: rgba(0, 108, 108, 0.75);
}

span.inline-item.new {
    color: white;
    font-weight: bold;

    background-color: rgb(32, 107, 165);
    border-color: rgb(32, 107, 165);
}

span.inline-item.filter {
    color: black;
    font-weight: bold;

    background-color: rgba(251, 189, 8, 0.45);
}
