/*********************************************************** 
    Inline item lists, items, input and container styles.
***********************************************************/

:root {
    /* Left & right padding width; top & bottom padding height is increased by 1.5 */
    --inline-left-right-padding: 0.4em;
    --inline-top-bottom-padding: calc(1.5 * var(--inline-left-right-padding));
    --max-inline-input-height: 1.8em;
}


/** Container headers **/
div.inline-item-list-block-header, div.inline-item-list-wrapper-header {
    font-size: var(--input-header-font-size);
    font-weight: bold;
    margin-bottom: 0.25em;
}


/** Containers **/
div.inline-item-list-block:not(:last-child) {
    margin-bottom: 1em;
}

div.inline-item-list-block-content {
    font-size: var(--input-header-font-size);

    border: solid 1px var(--border-color-input);

    /* Add padding between visible borders of `.inline-item-list-block-content` and its content */
    padding-left: var(--inline-left-right-padding);
    padding-right: var(--inline-left-right-padding);

    padding-top: var(--inline-top-bottom-padding);
    padding-bottom: var(--inline-top-bottom-padding);
}

div.inline-item-list-block-content.borderless {
    border: 0;
}

div.inline-item-list-wrapper:not(:last-child) {
    margin-bottom: 1rem;
}

div.inline-item-list-wrapper-content {
    display: flex;
    flex-wrap: wrap; 
    column-gap: var(--inline-left-right-padding);   /* separation between inline items (instead of padding) */
    row-gap: var(--inline-top-bottom-padding);   /* separation between inline items (instead of padding) */

    vertical-align: middle;

    line-height: 1.8em;
}


/** Inline input **/
span.inline-input-span {
    /* Reduce max width (container - left & right padding) */
    max-width: calc(100% - 2 * var(--inline-left-right-padding));
}

span.inline-input-span i.input-toggle:hover {
    cursor: pointer;
}

span.inline-input-span .ui.search.selection.dropdown.inline-input {    /* SUIR container tag */
    min-height: 0;
    padding: 0;
    height: 100%;

    /* Limit max-width to the size of its containter */
    max-width: 100%;

    /* Limit input height to 1 line + top/down borders */
    max-height: calc(var(--max-inline-input-height) + 2px);
}

span.inline-input-span .ui.search.selection.dropdown.inline-input>input.search,
span.inline-input-span .ui.search.selection.dropdown.inline-input>.divider.text { /* SUIR inner input & search query display tags */
    padding-top: 0;
    padding-bottom: 0;
    padding-left: var(--inline-left-right-padding);
    padding-right: var(--inline-left-right-padding);
    line-height: var(--max-inline-input-height);

    /* Limit max-width to the size of its containter */
    max-width: 100%;
}

span.inline-input-span .ui.search.selection.dropdown.inline-input > .divider.text {  /* Center query text vertically */
    display: flex;
    align-items: center;
}

span.inline-input-span div.visible.menu.transition>div.item:not([non-existing]) {
    display: flex;
    align-items: center;
    line-height: 1.8em;
    padding-top: 0 !important;
    padding-bottom: 0!important;
    padding-left: var(--inline-left-right-padding) !important;
    padding-right: var(--inline-left-right-padding) !important;
}


/** Inline item & inline text item **/
span.inline-item, span.inline-text-item {
    /* Sets inline item text height to 100% of the container's */
    display: flex;      
    align-items: center;

    /* keep the element on one line */
    white-space: nowrap;

    /* Reduce max width (container - left & right padding) */
    max-width: calc(100% - 2 * var(--inline-left-right-padding));
}

span.inline-item {
    border: 1px solid;
    border-radius: 2px;

    user-select: none;
}

span.inline-text-item {
    font-weight: bold;
}

a.inline-text-link {
    /* Inherit text color from parent component */
    color: inherit;

    /* Hide overflown text */
    overflow: hidden;
    text-overflow: ellipsis;
}

span.inline-text {
    padding-left: var(--inline-left-right-padding);
    padding-right: var(--inline-left-right-padding);
}

span.inline-item > .inline-text-link {
    max-width: 100%;
}

i.inline-item-icon {
    cursor: pointer;
    padding-right: var(--inline-left-right-padding);
}


/** Specific item styles **/
span.inline-item {
    background-color: var(--inline-item-background-color);
    border-color: var(--inline-item-border-color);
    color: var(--inline-item-font-color);
}

span.inline-item.deleted {
    background-color: var(--inline-item-deleted-background-color);
    border-color: var(--inline-item-deleted-border-color);
    color: var(--inline-item-deleted-font-color);
    text-decoration: line-through;
}

span.inline-item.existing {
    background-color: var(--inline-item-existing-background-color);
    border-color: var(--inline-item-existing-border-color);
    color: var(--inline-item-existing-font-color);
}

span.inline-item.new {
    background-color: var(--inline-item-new-background-color);
    border-color: var(--inline-item-new-border-color);
    color: var(--inline-item-new-font-color);
}

span.inline-item.filter {
    background-color: var(--inline-item-filter-background-color);
    border-color: var(--inline-item-filter-border-color);
    color: var(--inline-item-filter-font-color);
}
