/*********************************************************** 
    Inline item lists, items, input and container styles.
***********************************************************/

:root {
    /* Left & right padding width; top & bottom padding height is increased by 1.5 */
    --inline-left-right-padding: 0.4rem;
    --inline-top-bottom-padding: calc(1.5 * var(--inline-left-right-padding));
}

/* Containers */
div.inline-item-list-block:not(:last-child) {
    margin-bottom: 1em;
}

div.inline-item-list-block-header, div.inline-item-list-wrapper-header {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0.25em;
}

div.inline-item-list-wrapper-header {
    padding-left: var(--inline-left-right-padding);
    padding-right: var(--inline-left-right-padding);
    /* padding-top: 0.3em; */
}

div.inline-item-list-block {
    border: solid 1px rgba(34, 36, 38, 0.15);
    border-radius: 4px;
}

div.inline-item-list-block.borderless {
    border: 0;
    border-radius: 0;

    /* Reverse paddings & margins of child elements */
    /* margin-left: calc(-1 * var(--inline-left-right-padding));
    margin-right: calc(-1 * var(--inline-left-right-padding)); */
    /* margin-top: -0.3em;
    margin-bottom: -0.3em; */
}

div.inline-item-list-wrapper {
    display: flex;
    flex-wrap: wrap; 
    column-gap: var(--inline-left-right-padding);   /* separation between inline items (instead of padding) */
    row-gap: var(--inline-top-bottom-padding);   /* separation between inline items (instead of padding) */

    vertical-align: middle;
    /* border: solid 1px rgba(34, 36, 38, 0.15);
    border-radius: 4px; */

    line-height: 1.8em;
}

div.inline-item-list-block:not(.borderless) div.inline-item-list-wrapper {
    /* Add padding between visible borders of `.inline-item-list-block` and items inside `.inline-item-list-wrapper` */
    padding-left: var(--inline-left-right-padding);
    padding-right: var(--inline-left-right-padding);

    padding-top: var(--inline-top-bottom-padding);
    padding-bottom: var(--inline-top-bottom-padding);
}


/* Inline input */
span.inline-input-span {
    /* Reduce max width (container - left & right padding) */
    max-width: calc(100% - 2 * var(--inline-left-right-padding));
}

span.inline-input-span i.input-toggle:hover {
    cursor: pointer;
}

span.inline-input-span .ui.search.selection.dropdown.inline-input {    /* SUIR container tag */
    min-height: 0;
    padding: 0;
    height: 100%;

    /* Limit max-width to the size of its containter */
    max-width: 100%;
}

span.inline-input-span .ui.search.selection.dropdown.inline-input>input.search,
span.inline-input-span .ui.search.selection.dropdown.inline-input>.divider.text { /* SUIR inner input & search query display tags */
    padding-top: 0;
    padding-bottom: 0;
    padding-left: var(--inline-left-right-padding);
    padding-right: var(--inline-left-right-padding);
    line-height: 1.8em;

    /* Limit max-width to the size of its containter */
    max-width: 100%;
}

span.inline-input-span .ui.search.selection.dropdown.inline-input > .divider.text {  /* Center query text vertically */
    display: flex;
    align-items: center;
}

span.inline-input-span div.visible.menu.transition>div.item:not([non-existing]) {
    display: flex;
    align-items: center;
    line-height: 1.8em;
    padding-top: 0 !important;
    padding-bottom: 0!important;
    padding-left: var(--inline-left-right-padding) !important;
    padding-right: var(--inline-left-right-padding) !important;
}


/* Inline item & inline text item */
span.inline-item, span.inline-text-item {
    /* Sets inline item text height to 100% of the container's */
    display: flex;      
    align-items: center;

    /* keep the element on one line */
    white-space: nowrap;

    /* Reduce max width (container - left & right padding) */
    max-width: calc(100% - 2 * var(--inline-left-right-padding));
}

span.inline-item {
    border: 1px solid;
    border-radius: 4px;

    cursor: pointer;
    user-select: none;
}

span.inline-text-item {
    font-weight: bold;
}

span.inline-text {
    padding-left: var(--inline-left-right-padding);
    padding-right: var(--inline-left-right-padding);

    /* Hide overflown text */
    overflow: hidden;
    text-overflow: ellipsis;
}

i.inline-item-link-icon {
    padding-right: var(--inline-left-right-padding);
}


/* Specific item styles */
span.inline-item {
    border-color: gray;
    color: rgba(64, 64, 64);
    font-weight: normal;
}

span.inline-item.deleted {
    color: white;
    font-weight: bold;
    text-decoration: line-through;

    background-color: rgb(200, 45, 45);
    border-color: rgba(200, 45, 45, 1);
}

span.inline-item.existing {
    color: white;
    font-weight: bold;
    /* background-color: rgba(33, 186, 69, 0.5); */
    background-color: rgba(0, 108, 108, 0.75);
    border-color: rgba(0, 108, 108, 0.75);
}

span.inline-item.new {
    color: white;
    font-weight: bold;

    background-color: rgb(32, 107, 165);
    border-color: rgb(32, 107, 165);
}

span.inline-item.filter {
    color: black;
    font-weight: bold;

    background-color: rgba(251, 189, 8, 0.45);
}
