/*****************************
    Markdown editor styles    
*****************************/

/** <MarkdownEditor> **/
/* Editor header */
div.markdown-editor-header {
    /* Style header as form labels */
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0.25em;
}


/** Menu **/
.markdown-editor-display-mode-menu {
    /* Don't display overlapping menu borders */
    border-bottom: 0 !important;
    border-right: 0 !important;
}

.markdown-editor-display-mode-menu button.ui.button {
    /* Don't display button borders (they overlap with menu borders) */
    border-top-width: 0 !important;
    border-bottom-width: 0 !important;
}


/** <MarkdownEditorViewEdit> **/
div.markdown-editor-view-edit-container {
    display: flex;
    flex-basis: 100%;   /* take full width of container */

    /* Separation between view & edit columns */
    gap: 1rem;
}

div.markdown-editor-column {
    flex: 1 1 50%;
}

div.markdown-editor-view-edit-container.smallscreen {
    /* Stack columns in smallscreen mode */
    flex-direction: column;
}


/** <MarkdownView> **/
div.markdown-editor-view-container {
    width: 100%;
    border: solid 1px var(--border-color-input);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.785714em;    /* same as the padding for SUI textareas inner text */
    padding-bottom: 0.785714em;
}


/** <MarkdownEdit> **/
.markdown-editor-edit-container {
    width: 100%;
}


/** Rendered markdown **/
