/****** Object field input ******/
.object-field-input-form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.object-field-input-form-label {
    font-weight: bold;
    margin-bottom: 3px;
}

.object-field-input-form-text-input, .object-field-input-form-text-area {
    min-width: calc(100% - 20px);
    border: 1px solid black;
}

.object-field-input-form-text-area {
    resize: none;
}

.object-field-input-form-text-input {
    margin-bottom: 10px;
}