/**************************
    Object page styles.
**************************/

/* Object type switch header */
div.object-type-menu-header {
    margin-top: 1em;
    font-weight: bold;
    margin-bottom: 0.25em;
}

div.object-type-menu-header.subobject {
    margin-top: 0;
}

/* Object type switch, full */
div.ui.compact.menu.object-type-menu {
    display: inline-flex;
    flex-wrap: wrap;
}

div.ui.compact.menu.object-type-menu>.object-type {
    width: 125px;   /* update onResize check in <ObjectTypeSelector> if this value is updated */
    display: inline-flex;
    justify-content: center;
}

div.ui.compact.menu.object-type-menu>.object-type:hover {
    cursor: pointer;
}

/* Object type switch, small */
div.ui.compact.menu.object-type-menu.small {
    display: flex;
    flex-direction: column;
}

div.ui.compact.menu.object-type-menu>.object-type.small {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

div.ui.menu > .item.active.object-type, div.ui.menu > .item.disabled.active.object-type { /* Selected object type style */
    font-weight: bold;
    color: black !important;
    border: solid 1px rgba(0, 0, 0, 0.25);
}
