/*******************************
  /objects/edited page styles.
*******************************/

/* Table headers */
.ui.table thead th.edited-objects-header-cell.collapsing {
    white-space: nowrap;    /* Display on a single line */
    padding-right: 0;
}


/* Table cells */
td.edited-objects-item-cell {
    /* Allow breaking words in body cells */
    word-break: break-word;
}

/* Collapsed table cells margin & padding */
td.edited-objects-item-cell.collapsing {
    padding-right: 0;
}

td.edited-objects-item-cell.collapsing .edited-objects-item-object-type-icon-container i,
td.edited-objects-item-cell.collapsing .edited-objects-item-is-new-icon-container i
{
    margin-right: 0;
}

/* Wrappable collapsed cells (parent links) */
.ui.table td.edited-objects-item-cell.collapsing.wrappable {
    white-space: normal;
}


/* Object parent links */
.edited-objects-object-parent-link:not(:last-child) {
    margin-right: 0.25em;
}


/* Edited subobjects indicator */
td.edited-objects-item-cell div.label {
    user-select: none;
}


/* Controls */
/* .ui.table td.collapsing.edited-objects-item-cell.controls {
    width: 50px; /* Set fixed width to avoid line breaks * /
} */

.edited-objects-item-control-container i {
    cursor: pointer;
}

.edited-objects-item-control-container:last-child {
    margin-right: 0.25em;
}