/********************************
  /objects/edit/:id page styles.
********************************/

/* Object type switch header */
div.object-type-menu-header {
    margin-top: 1em;
    font-weight: bold;
    margin-bottom: 0.25em;
}

div.object-type-menu-header.subobject {
    margin-top: 0;
}

/* Object type dropdown switch */
div.ui.selection.dropdown.object-type-dropdown-switch {
    width: 100%;
}

/* Remove scrollbar in dropdown option list caused by icon displaying */
div.ui.selection.dropdown.object-type-dropdown-switch > .visible.menu.transition {
    overflow-y: hidden; /* remove scrollbar */
    max-height: max-content; /* override height (default style limit number of displayed elements to 3) */
}

div.ui.selection.dropdown.object-type-dropdown-switch > .visible.menu.transition > .item > i {
    margin-top: -0.5em; /* fix icon positioning */
}


/* Display tab controls */
.objects-edit-display-control-container:not(:last-child) {
    margin-bottom: 1em;
}

/* Display tab controls, checkbox */
div.ui.checkbox.objects-edit-display-checkbox-container {
    display: block;
}

/* Display tab controls, dropdown */
.objects-edit-display-dropdown-container {
    display: flex;
    align-items: center;
}

.objects-edit-display-label {
    margin-right: 0.5em;
}
