/********************************
  /objects/edit/:id page styles.
********************************/

/* Object type switch header */
div.object-type-menu-header {
    margin-top: 1em;
    font-weight: bold;
    margin-bottom: 0.25em;
}

div.object-type-menu-header.subobject {
    margin-top: 0;
}

/* Object type dropdown switch */
div.ui.selection.dropdown.object-type-dropdown-switch {
    width: 100%;
}

/* Remove scrollbar in dropdown option list caused by icon displaying */
div.ui.selection.dropdown.object-type-dropdown-switch > .visible.menu.transition {
    overflow-y: hidden; /* remove scrollbar */
    max-height: max-content; /* override height (default style limit number of displayed elements to 3) */
}

div.ui.selection.dropdown.object-type-dropdown-switch > .visible.menu.transition > .item > i {
    margin-top: -0.5em; /* fix icon positioning */
}

/* Object is published checkbox */
div.ui.checkbox.object-is-published-checkbox-container {
    display: block;
}

div.ui.checkbox.object-is-published-checkbox-container:not(:last-child) {
    margin-bottom: 0.75em;
}
