/*******************************
    Rendered markdown styles    
*******************************/

.rendered-markdown * {
    margin-top: 0;
    word-break: break-word;
}

.rendered-markdown > *:not(:last-child) {
    margin-bottom: 0.5rem;
}

.rendered-markdown > h3:not(:first-child),
.rendered-markdown > h4:not(:first-child),
.rendered-markdown > h5:not(:first-child),
.rendered-markdown > h6:not(:first-child) {
    margin-top: 0.5rem;
}

.rendered-markdown blockquote {
    padding: 0.5rem;
    font-style: italic;
    border-left: solid 2px var(--rendered-markdown-blockquote-border-color);
    background-color: var(--rendered-markdown-blockquote-background-color);
}

.rendered-markdown hr {
    border-top: solid 1px var(--border-color-light);
    border-bottom: none;
}

/*.rendered-markdown table {
    /* Center table * /
    margin-left: auto;
    margin-right: auto;
}

.rendered-markdown table, 
.rendered-markdown th, 
.rendered-markdown td {
    border: solid 1px var(--border-color-main);
    border-collapse: collapse;
}

.rendered-markdown th, 
.rendered-markdown td {
    padding: 0.25em;
} */

/* Code highlighting */
.rendered-markdown pre code.hljs {
    display: block;
}
  
.rendered-markdown code.hljs {
    display: inline;
    padding: 0.1em;
}
