/************************************
    Global styles and variables. 
************************************/


/** Colors **/
:root {
    /* General */
    --background-color: rgb(255, 255, 255);
    --background-color-emphasis: rgb(245, 245, 245);
    --background-hover-color: rgb(202, 233, 255);
    --background-color-dropzone: rgb(216, 241, 216);

    --card-box-shadow: 0 0 2px rgb(64, 64, 64);
    --border-color-main: rgb(128, 128, 128);
    --border-color-light: rgb(192, 192, 192);
    --border-color-input: rgb(222, 222, 222);
    --border-color-input-active: rgb(90, 169, 230);
    
    --header-color: rgb(0, 0, 0);
    --header-5-text-color: rgb(60, 120, 200);
    --header-6-text-color:rgb(128, 128, 128);

    --text-color: rgb(33, 33, 33);
    --secondary-text-color: rgb(48, 48, 48);
    --timestamp-text-color: rgb(128, 128, 128);
    --faded-text-color: rgb(128, 128, 128);
    --placeholder-text-color: rgb(200, 200, 200);
    --placeholder-text-color-hovered: rgb(160, 160, 160);

    
    /* Clickable interface areas (expand toggles / button-link divs) */
    --clickable-area-background-color: rgb(246, 246, 246);
    --clickable-area-background-color-hover: rgb(217, 234, 247);
    --clickable-area-text-color: rgb(0, 119, 182);
    --clickable-area-text-color-hover: rgb(3, 4, 94);

    /* Tables */
    --table-odd-row-background-color: rgb(244, 244, 244);

    /* Rendered markdown */
    /** Blockquotes (colors taken from SUIR <Message> component styling) & details **/
    --rendered-markdown-blockquote-border-color: rgb(169, 213, 222);
    --rendered-markdown-blockquote-color: rgb(14, 86, 108);
    --rendered-markdown-blockquote-background-color: rgb(248, 255, 255);
    /* --rendered-markdown-blockquote-link-color: rgb(244, 128, 36); */
    --rendered-markdown-blockquote-link-color: rgb(160, 25, 25);
    --rendered-markdown-blockquote-link-hovered-color: rgb(100, 10, 10);


    /* Navigation */
    --navbar-background-color: rgb(255, 255, 255);
    --navbar-background-active-color: rgb(222, 222, 222);
    --navbar-separation-color: var(--border-color-input);

    --navbar-text-color: var(--text-color); /* rgb(2, 62, 138);*/ /* var(--secondary-text-color) */
    --navbar-text-color-username: var(--text-color); /* var(--secondary-text-color) */

    --navbar-disabled-button-color: rgb(118, 118, 118);
    --navbar-disabled-text-color: rgb(255, 255, 255);

    /* --navbar-background-color: rgb(24, 24, 24);
    --navbar-background-active-color: rgba(40, 40, 40);
    --navbar-text-color: rgb(230, 230, 230);
    --navbar-separation-color: rgb(48,48,48);
    --navbar-search-button-color: rgb(230, 230, 230);
    --navbar-search-button-active-color: var(--navbar-background-active-color);
    --navbar-disabled-button-color: rgb(58, 58, 58);
    --navbar-disabled-text-color: rgb(115, 115, 115); */

    /* Inline item list */
    --inline-item-background-color: rgb(255, 255, 255);
    --inline-item-border-color: rgb(222, 222, 222);
    --inline-item-font-color: rgb(33, 33, 33);

    --inline-item-deleted-background-color: rgb(230, 57, 70);
    --inline-item-deleted-border-color: rgb(230, 57, 70);
    --inline-item-deleted-font-color: rgb(241, 250, 238);

    --inline-item-existing-background-color: rgb(32, 107, 165);
    --inline-item-existing-border-color: rgb(32, 107, 165);
    --inline-item-existing-font-color: rgb(255, 255, 255);

    --inline-item-new-background-color: rgb(64, 145, 108);
    --inline-item-new-border-color: rgb(64, 145, 108);
    --inline-item-new-font-color: rgb(255, 255, 255);

    --inline-item-filter-background-color: rgb(255, 214, 10);
    --inline-item-filter-border-color: rgb(255, 214, 10);
    --inline-item-filter-font-color: rgb(0, 8, 20);

    /* To-do lists */
    --to-do-list-commentary-button-color-disabled: rgb(192, 192, 192);  /* ? use disabled & active button colors */
    --to-do-list-commentary-button-color-active: rgb(128, 192, 128);
}


/** Variables **/
:root {
    --main-font-size: 16px;
    --input-header-font-size: 15px;
    --button-font-size: 15px;

    --markdown-editor-column-gap: 1rem;
}



/** Common styles, body **/
:root {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: var(--main-font-size);
}

body {
    overflow-x: auto;   /* enable horizontal scrollbar when required */
    font-size: var(--main-font-size);
}


/** Common styles, headers **/
h1, h1.ui.header {
    color: var(--header-color);
    font-size: 32px;
}

h2, h2.ui.header {
    color: var(--header-color);
    font-size: 28px;
}

h3, h3.ui.header {
    color: var(--header-color);
    font-size: 24px;
}

h4, h4.ui.header,
h5, h5.ui.header,
h6, h6.ui.header {
    color: var(--header-color);
    font-size: 20px;
}

h5, h5.ui.header {
    color: var(--header-5-text-color);
}

h6, h6.ui.header {
    color: var(--header-6-text-color);
}


/** Common styles, timestamp text **/
.timestamp-text {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--timestamp-text-color);
}


/** Common styles, colors **/
.ui.tabular.menu > .item,
.ui.tabular.menu > .active.item,

.ui.secondary.menu  > .item,
.ui.secondary.menu  > .active.item,

.ui.form .field > label,
.ui.checkbox label
{
    color: var(--header-color);
}


/** Common styles, lists **/
ul:last-child {
    margin-bottom: 0;
}


/** Common styles, tables **/
.ui.table {
    color: var(--text-color);
}

.ui.table thead th,
.ui.table.striped tbody tr:nth-child(2n)
{
    background-color: var(--table-odd-row-background-color);
}


/** Common styles, border-radius **/
.ui.table,  /* Containers */
.ui.menu,

.ui.button:not(.circular), /* Buttons, except for circular (like subobject card expand toggle) */

div.ui.message, /* Messages */

.ui.form input[type="text"], .ui.form input[type="text"]:focus, /* Form inputs */
.ui.form input[type="password"], .ui.form input[type="password"]:focus,
.ui.form textarea, .ui.form textarea:focus,

div.ui.checkbox > label::before,     /* Checkboxes */

.ui.selection.dropdown,         /* Dropdown */
.ui.selection.dropdown .menu,   /* Dropdown list */

.ui.attached.tabular.menu > .item, /* Edit page tabs */
.ui.attached.segment.tab
{
    border-radius: 0 !important;
}


/** Common styles, input placeholder text **/
.ui.input > input::placeholder,     /* Input */

.ui.dropdown > div.divider.default.text {   /* Dropdowns */
    color: var(--placeholder-text-color) !important;
    opacity: 1;
}

.ui.input > input:hover::placeholder,   /* Input */
.ui.input > input:focus::placeholder,

.ui.dropdown > div.divider.default.text:hover, /* Dropdowns */
.ui.dropdown:focus-within > div.divider.default.text {
    color: var(--placeholder-text-color-hovered) !important;
}


/** React-Datetime calendar **/
.rdt input {
    /* Apply styles from SUIR .ui.selection.dropdown */
    line-height: 1em;
    min-width: 14em;
    min-height: 2.71428571em;
    
    padding: 0.78571429em 2.1em 0.78571429em 1em;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid var(--border-color-input);
}

.rdtPicker {
    border: 1px solid var(--border-color-input);
}
