/************************************
    Global styles and variables. 
************************************/

/* :root {
    --selected-color: rgba(160, 160, 160, 0.5);
    --hover-color: rgba(30, 105, 55, 0.7);
    --border-color: var(--hover-color);
    
    --pressed-button-color: rgba(80, 80, 80);
    --field-menu-button-overlay-color: rgba(0, 0, 0, 0.3);

    --error-text-color: red;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
} */

body {
    overflow-x: auto;   /* enable horizontal scrollbar when required */
}

div.layout-grid.ui.grid {
    margin-left: 0;  /* fix height to remove browser scrollbar */
    margin-right: 0;
}

div.layout-grid.ui.grid > .layout-grid-navigation-row.row {
    padding-bottom: 0; /* Remove padding of the navbar row */
}

@media(max-width:767px) {
    div.layout-grid.ui.grid {
        margin-top: 0; /* Stop stacked navbar from moving above screen  */
        margin-bottom: 0;
    }

    div.layout-grid.ui.grid > div.layout-grid-main-row.row > div.layout-grid-side-menu-column.column {
        padding: 0 !important; /* Remove padding for stacked side menu */
    }
}

@media(min-width:768px) {
    .ui.grid > .row > .layout-grid-side-menu-column.column {
        /* Reduce side menu column padding */
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

/* Headers */
h1, h1.ui.header {
    font-size: 20px;
}

h2, h2.ui.header {
    font-size: 18px;
}

h3, h3.ui.header {
    font-size: 16px;
}

h4, h4.ui.header,
h5, h5.ui.header,
h6, h6.ui.header {
    font-size: 14px;
}

h5, h5.ui.header {
    color: rgb(60, 120, 200)
}

h6, h6.ui.header {
    color: gray;
}

/* Lists */
ul:last-child {
    margin-bottom: 0;
}

/* React-Datetime calendar */
.rdt input {
    /* Apply styles from SUIR .ui.selection.dropdown */
    line-height: 1em;
    min-width: 14em;
    min-height: 2.71428571em;
    background: #FFFFFF;
    padding: 0.78571429em 2.1em 0.78571429em 1em;
    color: rgba(0, 0, 0, 0.87);
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 0.28571429rem;
}

.rdtPicker {
    border-radius: 0.28571429rem;
    border: 1px solid rgba(34, 36, 38, 0.15);
}