/*******************************
       Seach page styles. 
*******************************/


/** Search input **/
.search-input-container {
    display: flex;
    margin-bottom: 2rem;    
}

.search-input-container > .ui.input {
    /* Take available width */
    flex: 1 1 auto;
}

.search-input-container > .ui.input > input {
    border: solid 1px var(--border-color-input);
    border-right-width: 0;
    border-radius: 0px;
}

.search-input-container > .ui.input > input:active,
.search-input-container > .ui.input > input:focus {
    border: solid 1px var(--border-color-input-active);
}

button.ui.button.field-menu-button.search-input-button {
    /* margin-left: 5rem; */
    /* background-color: black !important; */
    border: solid 0px var(--border-color-input) !important;
    border-left-width: 0px !important;
}