/*******************************************************
        Subobjects grid, card & menu styling.  
*******************************************************/
:root {
    --subobject-grid-column-container-min-width: 300px;
    --subobject-new-column-dropzone-width: 50px;

    --subobject-card-min-height: 100px;    
    --subobject-card-collapsed-height: 32px;    /* set fixed height close to actual height it takes; also equals to SUIR <Loader> component with default size prop height (which is not rendered anymore) */
    --subobject-card-padding-top-bottom: 0.5em;
    --subobject-card-padding-left-right: 0.75em;

    --subobject-card-default-margin-bottom: 2em;

    --subobject-card-expand-collapse-time: 0.20s;
    --subobject-card-expand-toggle-rotation: 90deg;

    --subobject-dropzone-background-color: rgba(100, 200, 100, 0.25);
}


/* Layout grid & main content column */
div.ui.celled.grid.composite-object-page, div.twelve.wide.column.composite-object-page {
    /* Override min-width to fit multicolumn composite subobject grids */
    min-width: max-content;
}

div.two.wide.column.composite-object-page {
    /* Limit max width of side menu to default value for 1920x1080 screen (when multicolumn subobjects overflow main column) */
    max-width: 240px;
}

div.two.column.row.composite-object-page {
    /* Force placing both columns in main row on a single line */
    flex-wrap: nowrap;
}


/* Subobjects grid */
div.composite-subobject-grid {
    display: flex;
    /* flex-wrap: nowrap; */
    /* min-width: max-content; */
    /* width: 2500px; */
    /* width: min-content; */
    margin: -0.5em; /* reduce padding of SUIR div.tab (1em) by half */
}

/* Column container & column */
div.composite-subobject-grid-column-container {
    display: flex;
    flex-direction: row;
    /* Set columns with equal width and a min width */
    flex: 1 0 var(--subobject-grid-column-container-min-width);
    min-width: var(--subobject-grid-column-container-min-width);  /* min-width is required to correctly calculate max-content of parent containers */
}

div.composite-subobject-grid-column-container.is-dragged-over {
    /* Increase min width to include 1 new column dropzone */
    flex: 1 0 calc(var(--subobject-grid-column-container-min-width) + var(--subobject-new-column-dropzone-width));
    min-width: calc(var(--subobject-grid-column-container-min-width) + var(--subobject-new-column-dropzone-width));  /* min-width is required to correctly calculate max-content of parent containers */
}

div.composite-subobject-grid-column-container.is-dragged-over.two-dropzones {
    /* Increase min width to include 2 new column dropzones */
    flex: 1 0 calc(var(--subobject-grid-column-container-min-width) + 2 * var(--subobject-new-column-dropzone-width));
    min-width: calc(var(--subobject-grid-column-container-min-width) + 2 * var(--subobject-new-column-dropzone-width));  /* min-width is required to correctly calculate max-content of parent containers */
}

div.composite-subobject-grid-column {
    /* Always fully fill subobject-grid-column-container */
    flex-grow: 1;
}

/* New column dropzone */
div.composite-subobject-grid-new-column-dropzone {
    flex: 0 0 var(--subobject-new-column-dropzone-width);

    align-self: center;
    /* height: 100%; */
    height: calc(100% - 2 * calc(var(--subobject-card-padding-top-bottom)));
    margin-top: calc(var(--subobject-card-padding-top-bottom));
    /* padding-top: 2.5em; */
    margin-bottom: calc(var(--subobject-card-padding-top-bottom));
}

div.composite-subobject-grid-new-column-dropzone.is-dragged-over {
    background-color: var(--subobject-dropzone-background-color);
}


/* Card */
div.composite-subobject-card {
    /* Borders and margin */
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    margin: 0.5em;
}

div.composite-subobject-card {    
    margin-bottom: var(--subobject-card-default-margin-bottom);
    /* Padding */
    padding-top: var(--subobject-card-padding-top-bottom);
    padding-left: var(--subobject-card-padding-left-right);
    padding-right: var(--subobject-card-padding-left-right);

    /* Expand => collapse animation */
    transition: min-height var(--subobject-card-expand-collapse-time) ease-out;
    min-height: 0;
    padding-bottom: 0;      /* Only padding-bottom is removed, because `heading-container` always compensates for left, right and top paddings of `composite-subobject-card` */
}

div.composite-subobject-card.expanded {
    /* Collapse => expand animation */
    transition: min-height var(--subobject-card-expand-collapse-time) ease-in;
    min-height: var(--subobject-card-min-height);
    padding-bottom: var(--subobject-card-padding-top-bottom);
}

div.composite-subobject-card.is-dragged-over {
    box-shadow: 0 0 0 6px var(--subobject-dropzone-background-color);
}

/* Full card placeholders (loader, error) */
div.composite-subobject-card.no-padding {
    padding: 0;
    min-height: var(--subobject-card-min-height);

    /* Center content vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.ui.message.subobject-error-message {
    height: var(--subobject-card-min-height);

    display: flex;
    flex-direction: column;
}

div.subobject-error-button-container {
    padding: 0.5rem;

    display: flex;
    justify-content: center;
}


/* Card heading */
div.composite-subobjct-card-heading-container {
    background-color: rgba(0, 0, 0, 0.04);
    /* Remove the padding of `div.composite-subobject-card` to make a correct line */
    margin-top: calc(-1 * var(--subobject-card-padding-top-bottom));
    margin-left: calc(-1 * var(--subobject-card-padding-left-right));
    margin-right: calc(-1 * var(--subobject-card-padding-left-right));
}

div.composite-subobjct-card-heading-container.is-hovered-over {
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    cursor: grab;
}

div.composite-subobjct-card-heading {
    width: 100%;
    height: var(--subobject-card-collapsed-height);
    display: inline-flex;
    min-width: 0;   /* shrink flex container when `composite-subobject-card-heading-text` content overflows available space */
}

div.composite-subobject-card-heading-left, div.composite-subobject-card-heading-right {
    display: inline-flex;
    align-items: center;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    min-width: 0;   /* shrink flex container when `composite-subobject-card-heading-text` content overflows available space */
}

div.composite-subobject-card-heading-right {
    margin-left: auto;  /* align div to the right side of its parent */
    margin-right: 0.5rem;
    flex-shrink: 0;
}

div.composite-subobject-card-heading-object-type-icon {
    margin-left: 0.5em;
    flex-shrink: 0;
}

div.composite-subobject-card-heading-text {
    margin-left: 0.5em;
    font-size: 1.2em;
    font-weight: bold;

    /* Disable text selection */
    cursor: default;
    user-select: none;

    /* Disable displaying object name on multiple lines */
    height: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.composite-subobject-card-heading-text.unnamed {
    font-weight: normal;
    color: gray;
}

div.composite-subobject-card-heading-text.is-hovered-over {
    cursor: grab;
}


/* Expand/collapse button */
button.ui.button.subobject-card-expand-toggle {
    flex-shrink: 0;
    margin-left: 0.25rem;
    transition: var(--subobject-card-expand-collapse-time);
    /*-webkit-transition: var(--subobject-card-expand-collapse-time);   /* properties for better browser support * / 
    -moz-transition: var(--subobject-card-expand-collapse-time);
    -ms-transition: var(--subobject-card-expand-collapse-time);
    -o-transition: var(--subobject-card-expand-collapse-time);*/
}
  
button.ui.button.subobject-card-expand-toggle.expanded {
    transition: var(--subobject-card-expand-collapse-time);
    /*-webkit-transition: var(--subobject-card-expand-collapse-time);   /* properties for better browser support * / 
    -moz-transition: var(--subobject-card-expand-collapse-time);
    -ms-transition: var(--subobject-card-expand-collapse-time);
    -o-transition: var(--subobject-card-expand-collapse-time);
    -webkit-transform: rotate(var(--subobject-card-expand-toggle-rotation));
    -moz-transform: rotate(var(--subobject-card-expand-toggle-rotation));
    -o-transform: rotate(var(--subobject-card-expand-toggle-rotation));
    -ms-transform: rotate(var(--subobject-card-expand-toggle-rotation)); */
    transform: rotate(var(--subobject-card-expand-toggle-rotation));
} 


/* Card menu */
div.menu.composite-subobject-card-menu {
    /* Allow multiline display of children */
    display: flex;
    flex-wrap: wrap;

    /* Reduce margin */
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.ui.secondary.menu div.item.composite-subobject-secondary-menu-item {
    padding-left: 0;
    padding-right: 0;
}


/* Deleted subobject message */
div.ui.message.deleted-subobject-message {
    margin: 0;
}


/* Subobject dialog */
div.subobject-card-dialog-container {
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    padding: 1rem;
}

div.subobject-card-dialog-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ui.header.subobject-card-dialog-header {
    margin-bottom: 0.5rem;
}

button.ui.button.subobject-card-dialog-button {
    width: 64px;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}


/* Add menu */
div.composite-subobject-card.add-menu {
    /* Override default `composite-subobject-card` params */
    min-height: min-content;
    margin: 0.5em;
    padding: 0.25em;

    /* Center content horizontally */
    text-align: center;

    /* Center content vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button.ui.composite-subobject-add-menu-button {
    padding-left: 1em;
    padding-right: 1em;
    width: 120px;   /* min size which fits the text of each button */
}

div.ui.search.selection.dropdown.composite-object-add-menu-dropdown {
    width: 100%;
}