/**************************************************
                To-do lists styles.                
**************************************************/


/* Container */
.to-do-list-container {
    /* border: 1px solid black; */
    width: 100%;
    /* padding-left: 0.5em;
    padding-right: 0.5em; */
}

/* Header */
div.to-do-list-container-header {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0.25em;
    /* margin-left: -0.5em; */
}

/* Menu */
.ui.menu.to-do-list-menu {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

/* Item */
.to-do-list-item {
    display: flex;
    align-items: center;
    width: 100%;
    /* border-top: solid 1px rgba(34, 36, 38, 0.15); */
    border-bottom: solid 1px rgba(34, 36, 38, 0.15);
}

/* Item ID store */
.to-do-list-item-id {
    display: none;
}

/* Item input */
.to-do-list-item-input {
    outline: none;  /* don't display border on edit */
    padding: 0.3em;
    line-break: auto;
    word-break: break-word;
    min-width: 100px;
    /* max-width: 200px; */
    max-width: 80%;
}

.to-do-list-item-input.completed {
    text-decoration: line-through;
}

.to-do-list-item-input.optional {
    color: rgba(110, 110, 110, 1);
}

.to-do-list-item-input.cancelled {
    color: rgba(110, 110, 110, 1);
    text-decoration: line-through;
}

.to-do-list-item-input.new {
    padding-left: calc(0.3em + 100px);  /* TODO set correct padding when left menu is fully implemented */
    width: 80%;
}

.to-do-list-item-input.new:empty::before {  /* Placeholder text */
    content: attr(placeholder);
    pointer-events: none;
    display: block; /* For Firefox */
    color: rgba(191, 191, 191, 0.87);
}

/* Item left and fight menus */
.to-do-list-left-menu, .to-do-list-right-menu {
    height: calc(20em/14);  /* 1 line height */
}

.to-do-list-left-menu {
    display: flex;
}

.to-do-list-right-menu {
    width: 100px;
    display: flex;
}

.icon.to-do-list-item-button {
    cursor: pointer;
}
