/**************************************************
                To-do lists styles.                
**************************************************/


/** Container **/
.to-do-list-container {
    width: 100%;
}


/** Header **/
div.to-do-list-container-header {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0.25em;
}


/** Menu **/
.ui.menu.to-do-list-menu {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.3em;
    
    box-shadow: none;
    border-right: none;
}

.ui.menu.to-do-list-menu button {
    /* Don't display button borders (they overlap with menu borders) */
    border-top-width: 0 !important;
    border-bottom-width: 0 !important;
}


/** Item container & item **/
.to-do-list-item-container {
    position: relative;
}

.to-do-list-item {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: solid 1px var(--border-color-input);
}


/** Item dropzones & indent indicators **/
.to-do-list-item-drop-zone-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
}

.to-do-list-item-indent-indicator-container {
    height: calc(30em/14);  /* 1.5 line heights */
    display: flex;
}

.to-do-list-item-drop-zone, .to-do-list-item-indent-indicator {
    width: min(3em, 5%);    /* indent width */
    /* width: calc(min(3em, 5%) + 0.3em);    indent width + item input padding-left */
    flex-shrink: 0;
}

.to-do-list-item-drop-zone.first, .to-do-list-item-indent-indicator.first {
    width: calc(min(3em, 5%) + 3.2em - 1.18em);    /* indent width + left-menu min-width */
}

.to-do-list-item-drop-zone.last, .to-do-list-item-indent-indicator.last {
    width: 100%;
    flex-shrink: 1;
}

.to-do-list-item-drop-zone {
    height: 100%;
}

.to-do-list-item-indent-indicator.active {
    background-color: var(--background-color-dropzone);
}


/** Item ID store **/
.to-do-list-item-id {
    display: none;
}


/** Indent **/
.to-do-list-item-indent {
    flex-shrink: 0;
}

.to-do-list-item-indent.one {
    width: min(3em, 5%);
}

.to-do-list-item-indent.two {
    width: calc(2 * min(3em, 5%));
}

.to-do-list-item-indent.three {
    width: calc(3 * min(3em, 5%));
}

.to-do-list-item-indent.four {
    width: calc(4 * min(3em, 5%));
}

.to-do-list-item-indent.five {
    width: calc(5 * min(3em, 5%));
}


/** Item input **/
.to-do-list-item-input {
    outline: none;  /* don't display border on edit */
    padding: 0.3em;
    line-break: auto;
    word-break: break-word;
    min-width: 100px;
}

.to-do-list-item-input.completed {
    text-decoration: line-through;
}

.to-do-list-item-input.optional {
    color: var(--faded-text-color);
}

.to-do-list-item-input.cancelled {
    color: var(--faded-text-color);
    text-decoration: line-through;
}


/** New item input **/
.to-do-list-item.new {
    color: var(--placeholder-text-color);
}

.to-do-list-item.new:hover,
.to-do-list-item.new:focus-within {
    color: var(--placeholder-text-color-hovered);
}

.to-do-list-item-input.new {
    /*padding-left: 2.5em;    / * = left menu min size + item input padding */
    width: 100%;
    /* border-left: solid 1px rgba(191, 191, 191, 0.87); */
}

.to-do-list-item-input.new:empty::before {  /* Placeholder text */
    content: attr(placeholder);
    pointer-events: none;
    display: block; /* For Firefox */
}


/** Item left and right menus **/
.to-do-list-left-menu, .to-do-list-right-menu {
    height: calc(20em/14);  /* 1 line height */
    flex-shrink: 0;     /* menus don't shrink when item input takes more space than available => only input height is adjusted to contain all item text */
}

.to-do-list-left-menu {
    display: flex;
    justify-content: end;
    /* padding-left: 1em; */
    min-width: 3.2em;       /* should be as close to default space taken as possible, to equalize spacing between item input and menus */
}

.to-do-list-right-menu {
    display: flex;
}

.icon.to-do-list-item-button {
    cursor: pointer;
    margin: 0;
}

.icon.to-do-list-item-button.new {
    cursor: default;
}

.icon.to-do-list-item-button.comment {
    margin-right: 0.5em;
    color: var(--to-do-list-commentary-button-color-disabled);
}


.icon.to-do-list-item-button.comment.has-comment {
    color: rgba(0, 128, 0, 0.5);
}

.to-do-list-item-comment-input {
    outline: none;  /* don't display border on edit */
    min-width: 100px;
}
