/****** Object type selector form ******/
.object-type-selector-form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.object-type-selector-label {
    font-weight: bold;
    margin-bottom: 3px;
}

.object-type-selector-select {
    border: 1px solid grey;
    min-width: 10%;
    max-width: 20%;
    height: 2em;
}

/* .object-type-selector-option */