/****************************************************************************************
  /objects/view/:id page's object card styles, composite with "chapters" display mode.
****************************************************************************************/

:root {
    --composite-chapters-navigation-element-line-height: 1.5rem;
}

/* Navigation controls, margins */
.composite-chapters-hierarchy-navigation-container {
    margin-bottom: 1rem;
}

.composite-chapters-hierarchy-navigation-container > *:not(:last-child) {
    margin-bottom: 0.5rem;
}

/* Navigation controls, breadcrumb */
.ui.breadcrumb.composite-chapters-hierarchy-navigation-breadcrumb {
    /* Add space between lines */
    line-height: var(--composite-chapters-navigation-element-line-height);

    /* Limit max-width (for multicolumn composite objects; screen width - margins - scrollbar) */
    max-width: var(--max-not-overlown-width);
}

.ui.breadcrumb.composite-chapters-hierarchy-navigation-breadcrumb > div.section {
    /* Limit max-width (for multicolumn composite objects; screen width - margins - scrollbar) */
    max-width: var(--max-not-overlown-width);

    /* Enable word break for long words */
    word-break: break-word;
}

.ui.breadcrumb.composite-chapters-hierarchy-navigation-breadcrumb > i {
    /* height: var(--composite-chapters-navigation-element-line-height); */
    line-height: var(--composite-chapters-navigation-element-line-height);
    margin-top: -5rem;
}

/* Navigation controls, left & right */
.composite-chapters-hierarchy-navigation-left-right-container {
    display: flex;
    justify-content: space-between;
}

.composite-chapters-hierarchy-navigation-left-right-item {
    /* Add space between lines */
    line-height: var(--composite-chapters-navigation-element-line-height);

    /* Limit height of left and right items */
    max-height: calc(2 * var(--composite-chapters-navigation-element-line-height));
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Table of contents */
.composite-chapters-table-of-contents li {
    /* Enable word break for long words */
    word-break: break-word;
}
