{
    "app": {
        "backendURL": "http://localhost:42002",
        "compositeChapters": {
            "maxHierarchyDepth": 6
        },

        "useLocalStorage": true,
        "enableDebugLogging": true
    },

    "server": {
        "port": 5000
    }
}
