:root {
    --selected-color: rgba(160, 160, 160, 0.5);
    --hover-color: rgba(30, 105, 55, 0.7);
    --border-color: var(--hover-color);     /* TODO rename */
    
    --pressed-button-color: rgba(80, 80, 80);
    --field-menu-button-overlay-color: rgba(0, 0, 0, 0.3);

    --error-text-color: red;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/****** Page layout grid and main containers ******/
body {
    background-color: rgba(230, 230, 230, 1);
}

.layout-div {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh; 
}

@media(max-width: 800px) {
    .layout-div {
        grid-template-columns: 1fr 3fr 0;
    }
}

nav {
    background-color: rgb(40, 40, 40);
    grid-column: 1 / 4;
    grid-row: 1;
}

aside {
    grid-row: 2;
    grid-column: 1;
}

main {
    background-color: rgba(255, 255, 255, 1);
    grid-row: 2;
    grid-column: 2;
}

/****** Navigation bar ******/
.nav-ul {
    list-style-type: none;
}

.nav-li {
    float: left;
}

.nav-li .nav-link, .active-nav-link {
    display: block;
    text-align: center;
    font-size: large;
    color: rgb(255, 255, 255);
    padding: 16px;
    text-decoration: none;
}

.nav-li:hover .nav-link:hover, .active-nav-link:hover {
    background-color: var(--hover-color);
}

.active-nav-link {
    background-color: var(--selected-color);
}

/****** Side menu ******/
.side-menu {
    position: sticky;   /* Stck at the top of the page on scrolldown */
    top: 0px;
    padding: 10px;
    border-right: double var(--border-color);
}

.side-menu-item, .side-menu-item-inactive, .side-menu-dialog {
    text-align: center;
    font-weight: bold;
    border-right: solid 1px var(--border-color);
    border-bottom: solid 1px var(--border-color);
    background-color: rgba(255, 255, 255, 1);
}

.side-menu-item, .side-menu-item-inactive {
    padding: 10px;
}

.side-menu-item-inactive {
    color: rgba(180, 180, 180, 1);
}

.side-menu-item:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.side-menu-dialog {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.side-menu-dialog-message, .side-menu-dialog-buttons {
    margin-top: 5px;
    margin-bottom: 5px;
}

.side-menu-dialog-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.side-menu-dialog-button, .side-menu-dialog-button-red {
    min-width: 30%;
    min-height: 40px;
    font-weight: bold;
}

.side-menu-dialog-button {
    background-color: rgba(255, 255, 255, 1);
    border: solid 2px var(--border-color);
}

.side-menu-dialog-button:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.side-menu-dialog-button-red {
    border: solid 2px crimson;
}

.side-menu-dialog-button-red:hover {
    background-color: crimson;
    cursor: pointer;
}

/****** Item field ******/
.item-field {
    display: grid;
    grid-template-rows: auto 1fr;  /* resize menu section based on its content */
}

/****** Field menu ******/
.field-menu {
    position: sticky;   /* Stck at the top of the page on scrolldown */
    top: 0px;
    background-color: rgba(230, 230, 230, 1);
    border: solid 1px black;
}

.field-menu-div {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.field-menu-div::after {     /* Fill excess space on the last line, so that last line */
    content: "";            /* menu items are aligned to the left */
    flex: auto;
}

.field-menu-item {
    position: relative;
    margin: 4px;
    max-height: 28px;
    max-width: 28px;
}

.field-menu-button {
    max-width: 100%;
    max-height: 100%;
}

/* .field-menu-item:hover {     // TODO pointer cursor when hovering active or clicked menu items
    cursor: pointer;
} */

.field-menu-button-overlay-active,      /* Field menu button overlay to change its style */
.field-menu-button-overlay-inactive,    /* when inactive, pressed or hovered */
.field-menu-button-overlay-pressed {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
}

.field-menu-button-overlay-inactive {
    background-color: var(--field-menu-button-overlay-color);
}
    
.field-menu-button-overlay-pressed {   
    box-shadow: inset 0px 0px 0px 2px var(--pressed-button-color);
}

.field-menu-button-overlay-active:hover, 
.field-menu-button-overlay-pressed:hover {
    box-shadow: none;
    background-color: var(--hover-color);
}

.field-menu-filter {
    height: 24px;
    width: 150px;
    border-radius: 3px;
    border: ridge 1px black;
}

/****** Field body ******/
.field-body {
    display: flex;
    flex-direction: column;
    border: solid black 1px;
}

/****** Field item lists & field items ******/
.field-item-list, .field-item-list-collapsed {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 1.5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.field-item-list::after, .field-item-list-collapsed::after {   /* Fill excess space on the last line, so that last line */
    content: "";                                               /* menu items are aligned to the left */
    flex: auto;
}

.field-item-list-collapsed {
    max-height: 1.5em;
    overflow: hidden;
}

.field-item-list-container, .field-item-list-container-bordered {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.field-item-list-container-bordered {
    padding-bottom: 10px;
    border-bottom: solid 1px black;
}

.field-item-list-expand-div {
    display: flex;
    align-items: center;
    text-align: center;
}

.field-item-list-expand-div::before, .field-item-list-expand-div::after {   /* Lines before and after expand/collapse button */
    content: "";
    flex: 1;
    border-bottom: solid 1px black /*var(--hover-color)*/;
}

.field-item-list-expand-button {
    margin-top: 5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    /* color: var(--hover-color); */
    /* font-weight: bold; */
    font-size: 10px;
    border: solid 1px black /*var(--hover-color)*/;
    background-color: rgba(255, 255, 255, 0);
}

.field-item-list-expand-button:hover {
    cursor: pointer;
}

.field-item {
    margin: 4px;
}

.field-item:hover {
    background-color: var(--hover-color);
}

.field-item-tag-checkbox, .field-item-tag-link {
    margin: 2px;
}

.field-item-tag-link {
    color: black;
    text-decoration: none;
}

/****** Field pagination ******/
.field-pagination {
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.field-pagination-button {
    width: 35px;
    height: 40px;
    margin: 4px;
    border: solid 4px var(--border-color);
}

.field-pagination-button-prev-next {
    width: 60px;
    height: 40px;
    margin: 4px;
    border: solid 4px var(--border-color);
}

.field-pagination-button:hover, .field-pagination-button-prev-next:hover {
    background-color: var(--hover-color);
    border: 0px;
}

.field-pagination-gap {
    margin: 15px;
}

/****** Tag field ******/
.tag-page-body {
    display: flex;
    flex-direction: column;
}

/****** Item field ******/
.item-field-header {
    margin: 10px;
}

.item-field-timestamps {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.item-field-date {
    min-width: 45%;
    margin-top: 10px;
    margin-bottom: 10px;
    /* border: 1px solid black; */
}

.item-field-date-label {
    font-weight: 600;
}

.item-field-date-value {
    font-weight: 200;
    color: rgb(80, 80, 80);
}

.item-field-form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.item-field-form-label {
    font-weight: bold;
    margin-bottom: 3px;
}

.item-field-form-text-input, .item-field-form-text-area {
    min-width: calc(100% - 20px);
    border: 1px solid black;
}

.item-field-form-text-area {
    resize: none;
}

.item-field-form-text-input {
    margin-bottom: 10px;
}

.item-field-container {
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid black;
}

/* Errors & messages */
.fetch-error-info {
    color: var(--error-text-color);
    margin-left: 10px;
}
